@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin: 10px;
}

.block {
    height: 30vw;
    width: 30vw;
    background-color: #000;
    color: white;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}

section {
    background-color: pink;
    padding: 1rem;
    border: 1px solid black;
    display: flow-root;
}
